body {
  background-color: #68451a;
  padding: 0;
  margin: 0;
}

#title {
  background-color: white;
  width: 100%;
  margin-top: 30px;
  padding-left: 30px;
  padding-left: 50px;
}

#about{
  text-align: center;
  margin-top: 50px;
}

#locations {
  margin:  30px auto;
  width: 1000px;
  text-align:center;
}

.col1 {
  float: left;
}
.col2 {
  float: right;
}
.col3 {
  margin: auto;
}

#hours, #merch, #product, #reviews {
  background-color: white;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  border-radius: 20px;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color:#f7ca50;
}
a:hover {
  color: #130901;
}

p {
  color: #130901;
  font-family: 'Kreon', serif;
  font-size: 60px;
  padding: 10px 60px 20px 60px;
  margin: 0;
}

.resize {
  width: 200px;
  height: auto;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #d15959;
  text-align: center;
  font-size: 4em;
  font-family: 'Permanent Marker', cursive;
  display: inline;
}

.shadow {
  text-shadow:
  -1px -1px 0 #f0dede,
  1px -1px 0 #f0dede,
  -1px 1px 0 #f0dede,
  1px 1px 0 #f0dede;
}

ul, li  {
  list-style: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #f7ca50;
  font-size: 1.5em;
  display: inline;
  padding: 20px;
}

fieldset {
  border: 2px solid #130901;
  border-radius: 20px;
  padding: 10px 0 20px 10px;
  margin-bottom: 30px;
}

legend {
  color: #130901;
  font-family: 'Kreon', serif;
  font-size: 1em;
  background-color: #f7ca50;
  border: 1px solid #130901;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
}

input {
  border: 3px solid #130901;
  border-radius: 8px;
  padding: 5px;
  
}

table {
  border-spacing: 5px;
  margin-bottom: 50px;
}

th {
  text-align: middle;
  font-size: 20px;
  background-color: #d15959;
  letter-spacing: 1px;
  border-radius: 10px;
  border: 1px solid #130901;
}

tr, label, p {
  color: #130901;
  font-family: 'Kreon', serif;
  font-size: 20px;
}

td {
  text-align: center;
  list-style: none;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  color:#170d02;
  background-color: #f7ca50;
  border-radius: 5px;
  border: 1px solid #130901;
  padding: 5px 15px 5px 15px;
}