body {
  background-color: #68451a;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  zoom: 50%;
  border: 20px auto 20px auto;
}

h1 {
  color: #d15959;
  text-align: center;
  font-size: 5em;
  font-family: 'Permanent Marker', cursive;
}

.shadow {
  text-shadow:
  -1px -1px 0 #f0dede,
  1px -1px 0 #f0dede,
  -1px 1px 0 #f0dede,
  1px 1px 0 #f0dede;
}

ul, li {
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
  color: #f7ca50;
}

table {
  border-spacing: 5px;
}

th {
  text-align: middle;
  background-color: #d15959;
  border-radius: 10px;
}

tr {
  color: #000000;
  font-family: 'BioRhyme Expanded', serif;
  font-size: 1em
}

td {
  text-align: center;
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
  color: #f7ca50;
  background-color: #170d02;
  border-radius: 10px;
}